{% extends "base.html" %}

{% block content %}
	<div id='front-box' class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 text-justify">
		<h3 class="text-center">Web application engineering</h3>
		<p>Hi there! Welcome to this awesome little web app, which I made after my learnings from numerous Udacity courses.
			Simply put, this app is a blogging engine which means that you can get your blog posts up on the web in an instant! So check out my blogging app <a href="/blog">here</a>.
			And that's not it. Check out the <a href="/wiki">wiki</a> as well. But you may not be able to see your wiki posts right after submitting. I've worked out a solution to it and will fix it soon!
		</p>
		<p>
			If you're interested, this app was built on Google App Engine with the webapp2 framework. Some of the other technologies and languages used were:
			<ul>
				<li>Python</li>
				<li>JavaScript</li>
				<li>HTML / CSS</li>
				<li>JQuery</li>
				<li>Jinja2 templating engine</li>
				<li>Memcache</li>
				<li>Web APIs</li>
			</ul>
		</p>
	</div>
{% endblock %}